#viewHelp {
    display: flex;
    width: 37vh;
    height: 64vh;
    flex-direction : column;
}

.headerHelp {
    display: flex;
    flex : 1;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding-left : calc(37vh / 25);
    padding-right : calc(37vh / 25);
    background-image: url("../img/woodClear.png");
}
