#stepApp {
    display: flex;
    flex-direction: column;
    flex : 8;
    background-image: url("../img/woodDark.png");
}

#headApp {
    display: flex;
    flex : 1;
    flex-direction : row;
    background-color : rgba(200, 130, 60, .8);
    align-items : center;
    border-radius : 5px;
    min-height: 5vh;
}

#headNumberApp {
    display: flex;
    flex : 1;
    justify-content: center;
    background-color : black;
    border-radius : 5px;
    font-size : 3vh;
    font-weight : bold;
    text-align: center;
    color : white;
    margin-left : 1px;
}

#headTextApp {
    display: flex;
    flex : 5;
    font-size : 2.2vh;
    padding-left : 10px;
    font-weight : bold;
}

#contentApp {
    display: flex;
    flex : 8;
    justify-content : center;
    align-items: center;
}

#imageHelp {
    width : calc(35vh * .7);
    height : calc(62vh * .6);
    border-radius: 2px;
}



.default {
    font-size : 1.8vh;
    text-align : justify;
}

.text {
    background-color : rgba(210, 180, 150, .7);
    border-radius : 10px;
    margin : calc(62vh / 50);
    padding: .5vh;
}
