#titleApp {
    flex : 2;
    flex-direction: row;
    justify-content: center;
    width: 25vh;
}

#paddingTitle {
    flex : 2;
}

#displayTitle {
    display: flex;
    flex : 7;
    background-color: rgba(180, 180, 180, .3);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

#valueTitle {
    font-size: 30px;
    font-weight: bold;
}
