#headerApp {
    display: flex;
    flex : 1;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding-left : 1vh;
    padding-right : 1vh;
}

#bodyApp {
    display: flex;
    flex : 6;
    flex-direction : column;
    align-items: center;
}

.padding {
    display: flex;
    flex : 1.5;
}

#play {
    display: flex;
    flex-direction : row;
    justify-content : center;
}

#chooseDifficulty {
    display: flex;
    flex: 1;
    flex-direction : row;
    justify-content : space-around;
    align-items : center;
    border-width : 5px;
    border-style: solid;
    border-color : rgba(180, 180, 180, .9);
    background-color : rgba(180, 180, 180, .3);
    border-radius : 20px;
    padding-left: 1vh;
    padding-right: 1vh;
    width: 30vh;
}

#textBox {
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;
}

#textDifficulty {
    font-size: 3vh;
    font-weight : bold;
    text-align: center;
}

#imageWelcome {
    display: flex;
    background-image: url("../img/welcome.jpg");
    background-size: 37vh 64vh;
    flex-direction: column;
    width: 37vh;
    height: 64vh;
}
