#footerApp {
    display: flex;
    flex : 1.2;
    flex-direction : row;
    justify-content : space-around;
    align-items: center;
}

.chooseColor {
    display: flex;
    width: 5vh;
    height: 5vh;
    border-radius : 100%;
    cursor: pointer;
}

.activeColor {
    border-style: solid;
    border-color: yellow;
    animation-name: animationColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animationColor {
    0% {box-shadow: inset 0px 0px 0px .1vh yellow;}
    50% {box-shadow: inset 0px 0px 0px .3vh yellow;}
    100% {box-shadow: inset 0px 0px 0px .1vh yellow;}
}
